<%= generic_submenu_tag %>
<div id="right">
  <h3 class="tac">会议介绍</h3>
  <div class="intro">
    <p align="left">
      <strong>一、会议概况</strong>
    </p>
    <p align="left">
　　第十二届国际汉语教学研讨会将于2015年12月初在中国举行。
    </p>
    <p align="left">
　　本届研讨会主题是“国际汉语教学理论与实践——课堂教学案例示范与研究”。鼓励通过课堂教学实践、教材编写、课件开发及新媒体技术应用等实际案例，推动国际汉语教学理论与实践创新。
    </p>
    <p align="left">
　　主要议题：
    </p>
    <p align="left">
　　1、大学汉语课堂教学案例
    </p>
    <p align="left">
　　2、中小学汉语课堂教学案例
    </p>
    <p align="left">
　　3、短期培训汉语课堂教学案例
    </p>
    <p align="left">
　　4、汉语语法教学案例
    </p>
    <p align="left">
　　5、中华文化教学案例
    </p>
    <p align="left">
　　6、教师培训课程案例
    </p>
    <p align="left">
　　7、新媒体、新技术教学案例
    <p align="left">
　　8、语境与汉语、文化教学关系的再认识
    <p align="left">
　　9、教学案例对教学理论建设的促进作用
    <p align="left">
　　10、“教法无法”的哲理思考
    </p>
    <p align="left">
　　研讨会将安排大会论坛、分专题演示与研讨、颁发“第四届创新论文（示范课/案例）优秀奖”、国际汉语教学技能大赛成果展示与颁奖、汉语教材新产品说明会、国际汉语教学资源展览等活动。
    </p>
    <p align="left">
      <strong>二、重要时间点</strong>
    </p>
    <p align="left">
      &nbsp;
    </p>
    <table border="1" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
      <tbody>
        <tr>
          <td style="width:198px;">
          <p align="center">
            <strong>时间</strong>
          </p></td>
          <td style="width:324px;">
          <p align="center">
            <strong>内容</strong>
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            5月27日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            发布会议一号通知
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            7月15日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            开通会议网站；接受报名
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            8月30日
          </p></td>
          <td style="width:324px;">
          <p align="left">
            报名截止
          </p></td>
        </tr>
        <tr>
          <td style="width:198px;">
          <p align="left">
            9月15日
          </p></td>
          <td style="width:324px;">
          <p>
            发布会议正式通知；公布入选名单；
          </p>
          <p>
            开通网上注册；提交论文全文
          </p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="cb"></div>