<html>
  <head>
    <title>第十一届国际汉语教学研讨会邀请函</title>
    <style>
    * {
      margin: 0;
      padding: 0;
      font-family: "仿宋";
    }
    body {
      margin: 0 auto;
      padding: 40px 0;
      width: 760px;
    }
    h1 {
      padding-bottom: 30px;
      font-size: 28px;
      text-align: center;
    }
    p {
      line-height: 28px;
      font-size: 18px;
    }
    #stamp {
      position: relative;
      padding-top: 70px;
      padding-right: 16px;
      height: 200px;
      text-align: right;
    }
    #stamp p.line-1 {
      position: absolute;
      right: 30px;
      top: 80px;
      z-index: 10;
    }
    #stamp p.line-2 {
      position: absolute;
      right: 30px;
      top: 105px;
      z-index: 10;
    }
    #stamp img {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
    </style>
  </head>
  <body>
    <h1>关于出席第十二届国际汉语教学研讨会的邀请函</h1>
    <p>尊敬的<%= @user.chinese_name %>：</p>
    <p>　　由世界汉语教学学会和孔子学院总部/国家汉办联合举办的第十二届国际汉语教学研讨会将于2015年12月8日至10日在上海东师范大学召开。</p>
    <% if @user.type_regular? %>
    <p>　　您的论文摘要已经通过专家评审。诚挚邀请您参加第十二届国际汉语教学研讨会。</p>
    <p>　　会议将收取会议费1000元人民币（凡已缴纳2015年会费的世界汉语教学学会会员享受50%的优惠）。与会代表往返旅费及食宿费自理。</p>
    <p>　　请于11月15日前将回执发回秘书处shihanxuehui@hanban.org。</p>
    <% elsif @user.type_visitor? and @user.charging_type_free? %>
    <p>　　诚挚邀请您旁听参加第十二届国际汉语教学研讨会。</p>
    <p>　　与会代表往返旅费及食宿费自理。</p>
    <% elsif @user.type_visitor? and @user.charging_type_fee? %>
    <p>　　诚挚邀请您旁听参加第十二届国际汉语教学研讨会。</p>
    <p>　　会议将收取会议费300元人民币。与会代表往返旅费及食宿费自理。</p>
    <% end %>
    <br />
    <div id="stamp">
      <p class="line-1">世界汉语教学学会</p>
      <p class="line-2">2015年10月15日</p>
      <%= image_tag 'frontend/stamp.png' %>
    </div>
  </body>
</html>
